Examples/PSoC4_SPI_SCB/PSoC4_uGui.cydsn/CortexM0/ARM_GCC_493/Debug/.deps/ARM_C_FILE.P
Examples/PSoC4_SPI_SCB/PSoC4_uGui.cydsn/CortexM0/
Examples/PSoC4_SPI_SCB/PSoC4_uGui.cydsn/Export/
Examples/PSoC4_SPI_SCB/PSoC4_uGui.cydsn/Generated_Source/
Examples/PSoC4_SPI_SCB/PSoC4_uGui.cydsn/codegentemp/
Examples/PSoC4_SPI_UDB/PSoC4_uGui.cydsn/CortexM0/
Examples/PSoC4_SPI_UDB/PSoC4_uGui.cydsn/Generated_Source/
Examples/PSoC4_SPI_UDB/PSoC4_uGui.cydsn/codegentemp/
Examples/PSoC4_SPI_UDB/PSoC4_uGui.cydsn/Export/
Docs/
